<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jadeer</title>
    <meta name="description" content="Jadeer" />
    <meta name="keywords" content="jadeer, جدير">
    <meta name="theme-color" content="#45a142">
    <link rel="shortcut icon" href="../favicon.png" type="image/x-icon">
    <!-- Fontawsome links -->
    <link rel="stylesheet" href="../../css/libs/solid.css">
    <link rel="stylesheet" href="../../css/libs/brands.css">
    <link rel="stylesheet" href="../../css/libs/regular.css">
    <link rel="stylesheet" href="../../css/libs/fontawesome.css">
    <!-- Fontawsome links -->
    <link rel="stylesheet" href="../../css/libs/aos.css">
    <link rel="stylesheet" href="../../css/libs/simplebar.css">
    <link rel="stylesheet" href="../../css/libs/owl.carousel.css">
    <link rel="stylesheet" href="../../css/libs/bootstrap.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>

    <!-- Loading page -->
    <div class="loading-wrap">
        <img src="../../assets/img/logo-sm.png" width="100" alt="jadeer logo شعار جدير">
        <h6 class="text-primary mt-3">Loading...</h6>
    </div>

    <!-- Content -->
    <div class="wrap-fullpage">
        <!-- Start Header -->
        <header id="main-header">
            <div class="container mb-3">
                <nav class="navbar navbar-expand-xl navbar-light bg-white border-bottom py-0">
                    <!-- Navbar Buttons -->
                    <a href="index.html" class="navbar-brand">
                        <img src="../../assets/img/logo-sm.png" alt="jadeer logo main" width="150">
                    </a>
                    <button class="navbar-toggler py-2 bg-primary border-0 order-1" type="button"
                        data-bs-toggle="offcanvas" data-bs-target="#mainNavbar" aria-controls="mainNavbar"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars text-white"></i>
                    </button>

                    <!-- Languange and Currency settings -->
                    <div
                        class="localization-settings gap-2 ms-auto me-2 ms-xl-0 me-xl-0 order-xl-1 d-flex align-items-center">
                        <div class="dropdown order-xl-1 me-xxl-5">
                            <button class="btn dropdown-toggle" type="button" id="languageDropdown"
                                data-bs-toggle="dropdown">
                                <img src="../../assets/img/flags/en.png" class="me-1 align-top" alt="english language"
                                    width="28">
                                EN
                                <i class="fas fa-chevron-down ms-1"></i>
                            </button>

                            <ul class="dropdown-menu py-0 border-0 mt-1" aria-labelledby="languageDropdown">

                                <li>
                                    <span class="dropdown-item py-2 active">
                                        <img class="me-2 align-bottom" width="28" src="../../assets/img/flags/en.png"
                                            alt="EN language">
                                        EN
                                    </span>
                                </li>
                                <li>
                                    <a class="dropdown-item py-2" href="../ar/index.html">
                                        <img class="me-2 align-top" width="28" src="../../assets/img/flags/ar.png"
                                            alt="arabic language">
                                        AR
                                    </a>

                                </li>
                            </ul>
                        </div>
                        <div class="dropdown order-xl-1">
                            <button class="btn dropdown-toggle" type="button" id="curruncyDropdown"
                                data-bs-toggle="dropdown">
                                <span class="align-middle">KSA</span>
                                <span class="align-middle">SAR - Saudia</span>
                                <i class="fas fa-chevron-down ms-1 align-text-bottom"></i>
                            </button>

                            <ul class="dropdown-menu w-100 py-0 border-0 mt-1">
                                <li>
                                    <a class="dropdown-item py-2" href="#">
                                        <span>KSA</span>
                                        <span>SAR - Saudia</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item py-2" href="#">
                                        <span>KSA</span>
                                        <span>SAR - Saudia</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Links List  -->
                    <div class="offcanvas shadow-none offcanvas-start" data-bs-scroll="true" id="mainNavbar">
                        <div class="offcanvas-header">
                            <img src="../../assets/img/logo-sm.png" alt="jadeer شعار جدير" width="130">
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">

                            <!-- Logo With Login Button -->
                            <div
                                class="features-list-buttons d-flex align-items-center justify-content-between flex-row-reverse flex-xl-row justify-content-xl-start mb-4 mb-xl-0 gap-3 gap-xxl-6 me-sm-3 ms-xl-auto ms-xxl-12 order-1">
                                <div class="d-flex gap-2 gap-xxl-6">
                                    <!-- 
                                        !! IF User not register display this

                                        <a href="login.html"
                                        class="btn btn-primary text-nowrap rounded-3 bg-btn-hover white-hover shadow px-5 py-3">Sign In
                                        </a>                                        
                                    -->


                                    <div class="align-self-center">
                                        <a href="notification.html" class="position-relative btn text-primary">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                class="align-bottom notification-svg" width="19.96" height="21.36"
                                                viewBox="0 0 27.96 29.36">
                                                <path id="Path_62168" data-name="Path 62168"
                                                    d="M115.783,30.406c-2.672,0-4.932-4.628-4.932-10.108V16.615a8.185,8.185,0,0,0-6.14-7.9,2.188,2.188,0,0,0,.185-.88,2.235,2.235,0,1,0-4.47,0,2.132,2.132,0,0,0,.185.88,8.181,8.181,0,0,0-6.14,7.9V20.3c0,5.48-2.248,10.108-4.932,10.108a.863.863,0,0,0,0,1.726h9.6a3.606,3.606,0,0,0,7.041,0h9.6a.863.863,0,0,0,0-1.726ZM102.662,7.323a.507.507,0,0,1,.506.514c.006.567-1.011.567-1.011,0a.508.508,0,0,1,.505-.514Zm0,25.907a1.985,1.985,0,0,1-1.771-1.1h3.539A1.984,1.984,0,0,1,102.662,33.229Zm2.827-2.823H93.052c1.9-2.059,3.148-5.779,3.148-10.108V16.615a6.463,6.463,0,1,1,12.926,0V20.3c0,4.329,1.25,8.049,3.144,10.108h-6.782Z"
                                                    transform="translate(-88.68 -5.596)" fill="#45a142" />
                                            </svg>


                                            <span
                                                class="position-absolute top-40 start-35 translate-middle bg-primary rounded-circle notification-alert">
                                                <span class="outline-animation"></span>
                                            </span>
                                        </a>
                                    </div>


                                    <div class="dropdown myprofile-dropdown">
                                        <button
                                            class="btn border py-3 border-primary rounded-3 text-primary dropdown-toggle"
                                            type="button" data-bs-toggle="dropdown">
                                            <i class="fa-regular fa-user me-1"></i>
                                            Profile
                                        </button>
                                        <ul class="dropdown-menu py-0 border-0">
                                            <li>
                                                <a class="dropdown-item display-md border-bottom py-3 text-secondary-dark d-flex gap-md-3 gap-2 align-items-center justify-content-between"
                                                    href="profile.html">
                                                    <span>Profile</span>
                                                    <i class="fas fa-chevron-right"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a class="dropdown-item display-md border-bottom py-3 text-secondary-dark d-flex gap-md-3 gap-2 align-items-center justify-content-between"
                                                    href="myorders.html">
                                                    <span>Orders</span>
                                                    <i class="fas fa-chevron-right"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a class="dropdown-item display-md border-bottom py-3 text-secondary-dark d-flex gap-md-3 gap-2 align-items-center justify-content-between"
                                                    href="wallet.html">
                                                    <span>Wallet</span>
                                                    <i class="fas fa-chevron-right"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a class="dropdown-item display-md py-3 text-secondary-dark d-flex gap-md-3 gap-2 align-items-center justify-content-between"
                                                    href="#">
                                                    <span>Logout</span>
                                                    <i class="fas fa-chevron-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <span>
                                    <img src="../../assets/img/2030logo.png" class="mb-n1 logo2030" alt="2030 رؤية">
                                </span>
                            </div>

                            <!-- Website Links -->

                            <ul class="navbar-nav mb-2 mb-lg-0 me-lg-1 me-xlg-3 align-items-xl-center">
                                <li class="nav-item">
                                    <a class="nav-link  px-2  px-xxl-7 active" href="index.html">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  px-2  px-xxl-7" href="services.html">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  px-2  px-xxl-7" href="about-us.html"> About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-2  px-xxl-7" href="contact-us.html">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="container position-relative">

                <section class="zindex row gy-12 gy-lg-0 py-6">
                    <div class="col-lg-6 align-self-center">
                        <div data-aos="fade-up" data-aos-once="true">


                            <div class="position-relative">
                                <img src="../../assets/img/rectengels-orange.png" class="rect-orange position-absolute"
                                    alt="orange rectangle">

                                <h1 class="main-header-title h4 zindex">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente odit cupiditate
                                    placeat possimus quasi quo nihil laboriosam maiores esse nobis
                                </h1>
                            </div>


                            <p class="paragraph-with-line mt-5 text-light-secondary-dark lead">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nam nesciunt eveniet
                                nobis provident. Recusandae quod consequatur nihil ea nulla maxime vel possimus
                                consequuntur aliquid, corrupti cum dolor officia aspernatur?
                                Lorem ipsum dolor, sit amet.
                                Lorem ipsum dolor, sit amet.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <img data-aos="fade-up" data-aos-once="true" src="../../assets/img/header-home.png"
                            class="img-fluid d-block mx-auto float-lg-end header-img" width="410"
                            alt="home header jadeer جدير">
                    </div>
                </section>
            </div>

        </header>

        <!-- Start Consulting -->
        <div class="container container-xxl pt-5 pb-10">
            <div class="start-consult-bannar overflow-hidden py-8 px-4 bg-primary position-relative">
                <div class="d-flex align-items-center flex-wrap gap-6 gap-ms-12 justify-content-center zindex">
                    <p data-aos="zoom-in" data-aos-offset="100" data-aos-once="true"
                        class="text-white display-lg mb-0 ">Start your consultation
                        <span class=" border-bottom" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Live chat with your advisor">video</span>
                        or <span class=" border-bottom" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Live chat with your advisor">audio</span></p>
                    <a data-aos-once="true" href="#" data-aos-offset="100" data-aos="zoom-in"
                        class="btn btn-light shadow  text-primary px-5 py-3 rounded-3 bg-btn-hover dark-hover">Start
                        consultation</a>
                </div>

                <img data-aos="zoom-in" data-aos-offset="90" data-aos-once="true" data-aos-delay="300"
                    src="../../assets/img/plane.svg" alt="plane decore" width="60"
                    class="position-absolute top-50 translate-middle-y start-10">

                <img data-aos="zoom-in" data-aos-offset="90" data-aos-once="true" data-aos-delay="300"
                    src="../../assets/img/dotted-star.svg" alt="circle decore"
                    class="position-absolute top-50 translate-middle end-50">
                <img data-aos="zoom-in" data-aos-offset="90" data-aos-once="true" data-aos-delay="300"
                    src="../../assets/img/circle.svg" alt="circle decore"
                    class="position-absolute top-50 translate-middle-y end-5 d-none d-md-block">
            </div>
        </div>

        <!-- Start howtobenefit videos -->
        <div class="howto-benefit py-10">
            <div class="container position-relative">
                <div class="position-absolute top-0 start-0 w-100 bg-secondary py-10 px-5 howto-bigtext">
                    <img src="../../assets/img/CONSULTING.svg" class="user-select-none" draggable="false"
                        alt="Consulting استشارة">
                </div>

                <div class="position-relative zindex py-8">
                    <div class="howto-intro text-center">
                        <section data-aos-once="true" data-aos="zoom-in">
                            <h2 class="text-white mb-3">How do you benefit .?</h2>
                            <span class="title-line l1 bg-primary"></span>
                            <span class="title-line l2 bg-warning"></span>
                        </section>
                        <p class="mt-6  text-shadow text-white fw-bold" data-aos-once="true" data-aos="zoom-in">
                            Steps to obtain the service as a beneficiary
                        </p>
                    </div>

                    <div class="owl-carousel video-carousel mt-6 px-4">
                        <div data-aos="fade-up" data-bs-toggle="modal" data-bs-target="#benefitmodalvid"
                            class="video-item position-relative overflow-hidden rounded-3">
                            <img src="../../assets/img/video-img.png"
                                class="position-absolute w-100 h-100 img-cover top-0 start-0 item-thumbnail"
                                alt="vedio">
                            <div class="overflow-vide-actions position-absolute w-100 h-100 py-5 px-4">
                                <h4 class="text-white thumbnail-title">Video title</h4>
                                <span
                                    class="bg-light px-5 py-3 d-block d-flex align-items-center justify-content-center align-self-center my-auto rounded-3 px-8">
                                    <i class="fas fa-play text-primary display-omd"></i>
                                </span>
                            </div>
                        </div>
                        <div data-aos="fade-up" data-bs-toggle="modal" data-bs-target="#benefitmodalvid"
                            class="video-item position-relative overflow-hidden rounded-3">
                            <img src="../../assets/img/video-img.png"
                                class="position-absolute w-100 h-100 img-cover top-0 start-0 item-thumbnail"
                                alt="vedio">
                            <div class="overflow-vide-actions position-absolute w-100 h-100 py-5 px-4">
                                <h4 class="text-white thumbnail-title">Video title</h4>
                                <span
                                    class="bg-light px-5 py-3 d-block d-flex align-items-center justify-content-center align-self-center my-auto rounded-3 px-8">
                                    <i class="fas fa-play text-primary display-omd"></i>
                                </span>
                            </div>
                        </div>
                        <div data-aos="fade-up" data-bs-toggle="modal" data-bs-target="#benefitmodalvid"
                            class="video-item position-relative overflow-hidden rounded-3">
                            <img src="../../assets/img/video-img.png"
                                class="position-absolute w-100 h-100 img-cover top-0 start-0 item-thumbnail"
                                alt="vedio">
                            <div class="overflow-vide-actions position-absolute w-100 h-100 py-5 px-4">
                                <h4 class="text-white thumbnail-title">Video title</h4>
                                <span
                                    class="bg-light px-5 py-3 d-block d-flex align-items-center justify-content-center align-self-center my-auto rounded-3 px-8">
                                    <i class="fas fa-play text-primary display-omd"></i>
                                </span>
                            </div>
                        </div>
                        <div data-aos="fade-up" data-bs-toggle="modal" data-bs-target="#benefitmodalvid"
                            class="video-item position-relative overflow-hidden rounded-3">
                            <img src="../../assets/img/video-img.png"
                                class="position-absolute w-100 h-100 img-cover top-0 start-0 item-thumbnail"
                                alt="vedio">
                            <div class="overflow-vide-actions position-absolute w-100 h-100 py-5 px-4">
                                <h4 class="text-white thumbnail-title">Video title</h4>
                                <span
                                    class="bg-light px-5 py-3 d-block d-flex align-items-center justify-content-center align-self-center my-auto rounded-3 px-8">
                                    <i class="fas fa-play text-primary display-omd"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Start Services -->
        <section class="services-section container pb-10">
            <div class="position-relative mb-8" data-aos-once="true" data-aos="zoom-in">
                <h4 class="zindex">Platform services</h4>
                <img src="../../assets/img/rect-gray.svg" class="rect-gray position-absolute" alt="rectengel gray">
            </div>

            <div class="row  g-4">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a data-aos="fade-up" href="#" class=" d-block text-secondary-dark card-anm">
                        <div class="shadow rounded-3 card border-0 text-center service-card front">
                            <div class="card-body d-flex justify-content-center flex-column gap-5 align-items-center">
                                <img src="../../assets/img/services/law.svg" width="150" alt="استشارة">
                                <h5 class="fw-normal m-0 service-title">Legal advice</h5>
                            </div>
                        </div>
                        <div class="shadow rounded-3 card border-0 text-center service-card back">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                <img src="../../assets/img/services/law.svg" alt="استشارة">
                                <article>
                                    <h5 class="fw-normal my-4 service-title">Legal advice</h5>
                                    <p class="text-light-secondary-dark mb-0 service-desc">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. At voluptas harum,
                                        molestiae voluptates accusamus
                                    </p>
                                </article>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a data-aos="fade-up" href="#" class=" d-block text-secondary-dark card-anm">
                        <div class="shadow rounded-3 card border-0 text-center service-card front">
                            <div class="card-body d-flex justify-content-center flex-column gap-5 align-items-center">
                                <img src="../../assets/img/services/friendship.svg" width="150" alt=" العمل التطوعي">
                                <h5 class="fw-normal m-0 service-title">Volunteer work</h5>
                            </div>
                        </div>
                        <div class="shadow rounded-3 card border-0 text-center service-card back">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                <img src="../../assets/img/services/friendship.svg" alt=" Volunteer work">
                                <article>
                                    <h5 class="fw-normal my-4 service-title">Volunteer work</h5>
                                    <p class="text-light-secondary-dark mb-0 service-desc">Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. At voluptas harum,
                                        molestiae voluptates accusamus </p>
                                </article>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a data-aos="fade-up" href="#" class=" d-block text-secondary-dark card-anm">
                        <div class="shadow rounded-3 card border-0 text-center service-card front">
                            <div class="card-body d-flex justify-content-center flex-column gap-5 align-items-center">

                                <img src="../../assets/img/services/podcast.svg" alt="podcast" width="150">
                                <h5 class="fw-normal m-0 service-title">Podcast Jadeer</h5>
                            </div>
                        </div>
                        <div class="shadow rounded-3 card border-0 text-center service-card back">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                <img src="../../assets/img/services/podcast.svg" alt="podcast">
                                <article>
                                    <h5 class="fw-normal my-4 service-title">Podcast Jadeer</h5>
                                    <p class="text-light-secondary-dark mb-0 service-desc">Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. At voluptas harum,
                                        molestiae voluptates accusamus </p>
                                </article>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a data-aos="fade-up" href="#" class=" d-block text-secondary-dark card-anm">
                        <div class="shadow rounded-3 card border-0 text-center service-card front">
                            <div class="card-body d-flex justify-content-center flex-column gap-5 align-items-center">
                                <img src="../../assets/img/services/createreviews.svg" alt="عقود" width="150">
                                <h5 class="fw-normal m-0 service-title">Contract creation and reviews</h5>
                            </div>
                        </div>
                        <div class="shadow rounded-3 card border-0 text-center service-card back">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                <img src="../../assets/img/services/createreviews.svg" alt="عقود">
                                <article>
                                    <h5 class="fw-normal my-4 service-title"> Contract creation and reviews </h5>
                                    <p class="text-light-secondary-dark mb-0 service-desc">Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. At voluptas harum,
                                        molestiae voluptates accusamus </p>
                                </article>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a data-aos="fade-up" href="#" class=" d-block text-secondary-dark card-anm">
                        <div class="shadow rounded-3 card border-0 text-center service-card front">
                            <div class="card-body d-flex justify-content-center flex-column gap-5 align-items-center">
                                <img src="../../assets/img/services/economic.svg" alt="استشارة" width="150">
                                <h5 class="fw-normal m-0 service-title">Jadeer Legal Academy</h5>
                            </div>
                        </div>
                        <div class="shadow rounded-3 card border-0 text-center service-card back">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                <img src="../../assets/img/services/economic.svg" alt="استشارة">
                                <article>
                                    <h5 class="fw-normal my-4 service-title">Jadeer Legal Academy</h5>
                                    <p class="text-light-secondary-dark mb-0 service-desc">Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. At voluptas harum,
                                        molestiae voluptates accusamus </p>
                                </article>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a data-aos="fade-up" href="#" class=" d-block text-secondary-dark card-anm">
                        <div class="shadow rounded-3 card border-0 text-center service-card front">
                            <div class="card-body d-flex justify-content-center flex-column gap-5 align-items-center">
                                <img src="../../assets/img/services/lawroles.svg" alt="استشارة" width="150">
                                <h5 class="fw-normal m-0 service-title">Legal courses</h5>
                            </div>
                        </div>
                        <div class="shadow rounded-3 card border-0 text-center service-card back">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center">

                                <img src="../../assets/img/services/lawroles.svg" alt="استشارة">
                                <article>
                                    <h5 class="fw-normal my-4 service-title">Legal courses</h5>
                                    <p class="text-light-secondary-dark mb-0 service-desc">Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. At voluptas harum,
                                        molestiae voluptates accusamus </p>
                                </article>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a data-aos="fade-up" href="#" class=" d-block text-secondary-dark card-anm">
                        <div class="shadow rounded-3 card border-0 text-center service-card front">
                            <div class="card-body d-flex justify-content-center flex-column gap-5 align-items-center">
                                <img src="../../assets/img/services/ideas.svg" alt="استشارة" width="150">
                                <h5 class="fw-normal m-0 service-title">Submit projects and proposals</h5>
                            </div>
                        </div>
                        <div class="shadow rounded-3 card border-0 text-center service-card back">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center">

                                <img src="../../assets/img/services/ideas.svg" alt="استشارة">
                                <article>
                                    <h5 class="fw-normal my-4 service-title">Submit projects and proposals</h5>
                                    <p class="text-light-secondary-dark mb-0 service-desc">Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. At voluptas harum,
                                        molestiae voluptates accusamus </p>
                                </article>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a data-aos="fade-up" href="#" class=" d-block text-secondary-dark card-anm">
                        <div class="shadow rounded-3 card border-0 text-center service-card front">
                            <div class="card-body d-flex justify-content-center flex-column gap-5 align-items-center">
                                <img src="../../assets/img/services/references.svg" alt="استشارة" width="150">
                                <h5 class="fw-normal m-0 service-title">Systems and references</h5>
                            </div>
                        </div>
                        <div class="shadow rounded-3 card border-0 text-center service-card back">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center">

                                <img src="../../assets/img/services/references.svg" alt="استشارة">
                                <article>
                                    <h5 class="fw-normal my-4 service-title">Systems and references</h5>
                                    <p class="text-light-secondary-dark mb-0 service-desc">Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. At voluptas harum,
                                        molestiae voluptates accusamus </p>
                                </article>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a data-aos="fade-up" href="#" class=" d-block text-secondary-dark card-anm">
                        <div class="shadow rounded-3 card border-0 text-center service-card front">
                            <div class="card-body d-flex justify-content-center flex-column gap-5 align-items-center">
                                <img src="../../assets/img/services/search.svg" alt="استشارة" width="150">
                                <h5 class="fw-normal m-0 service-title">Research and messages</h5>
                            </div>
                        </div>
                        <div class="shadow rounded-3 card border-0 text-center service-card back">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center">

                                <img src="../../assets/img/services/search.svg" alt="استشارة">
                                <article>
                                    <h5 class="fw-normal my-4 service-title">Research and messages</h5>
                                    <p class="text-light-secondary-dark mb-0 service-desc">Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. At voluptas harum,
                                        molestiae voluptates accusamus </p>
                                </article>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a data-aos="fade-up" href="#" class=" d-block text-secondary-dark card-anm">
                        <div class="shadow rounded-3 card border-0 text-center service-card front">
                            <div class="card-body d-flex justify-content-center flex-column gap-5 align-items-center">
                                <img src="../../assets/img/services/otherservices.svg" alt="استشارة" width="150">
                                <h5 class="fw-normal m-0 service-title">Other Jadeer platforms</h5>
                            </div>
                        </div>
                        <div class="shadow rounded-3 card border-0 text-center service-card back">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center">

                                <img src="../../assets/img/services/otherservices.svg" alt="استشارة">
                                <article>
                                    <h5 class="fw-normal my-4 service-title">Other Jadeer platforms</h5>
                                    <p class="text-light-secondary-dark mb-0 service-desc">Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. At voluptas harum,
                                        molestiae voluptates accusamus </p>
                                </article>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>

    </div>


    <footer>
        <div class="bg-paper py-6">
            <div class="container">
                <div class=" row gx-0 gy-10 gx-sm-10 g-md-5 ">
                    <div class="col-md-6  col-xl-4">
                        <a href="index.html">
                            <img src="../../assets/img/logo-lg.png"
                                class="img-fluid d-block mx-auto mx-sm-0 w-md-95 footer-logo"
                                alt="jadeer logo شعار جدير">
                        </a>
                    </div>
                    <div class="col-md-6 col-xl-5">
                        <div class="row gy-4 gx-3">
                            <div class="col-4 col-sm-auto">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="index.html"
                                            class="text-secondary-dark nav-link maplink pt-0 pb-xl-4 pb-xxl-3">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="about-us.html"
                                            class="nav-link text-secondary-dark maplink py-xl-4 py-xxl-3">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="services.html"
                                            class="nav-link text-secondary-dark maplink py-xl-4 py-xxl-3">Services</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-8 col-sm-auto">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="usage-rules.html"
                                            class="nav-link text-secondary-dark maplink pt-0 pb-xl-4 pb-xxl-3">Usage
                                            Policy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="who-benefit.html"
                                            class="nav-link text-secondary-dark maplink py-xl-4 py-xxl-3">
                                            Beneficiaries</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="servicers.html"
                                            class="nav-link text-secondary-dark maplink py-xl-4 py-xxl-3">
                                            Service providers</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-auto">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="contact-us.html"
                                            class="nav-link text-secondary-dark maplink pt-0 pb-xl-4 pb-xxl-3">Contact
                                            Us
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="manage-jadeer.html"
                                            class="nav-link text-secondary-dark maplink py-xl-4 py-xxl-3">
                                            Managment</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="markting.html"
                                            class="nav-link text-secondary-dark maplink py-xl-4 py-xxl-3">Markting</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6  col-xl-3 ps-xxl-12">
                        <div class="d-flex gap-2 align-items-center mb-2">
                            <i class="fas fa-location-dot text-secondary display-omd"></i>
                            <span class="text-light-secondary-dark info-text">السعودية , مكة , شارع احمد على</span>
                        </div>
                        <a href="tel:01093244532" class="d-flex gap-2 align-items-center mb-2">
                            <i class="fas fa-phone text-secondary "></i>
                            <span class="text-light-secondary-dark info-text">0111215121585 - 012248952514</span>
                        </a>
                        <div class="d-flex gap-3 align-items-center mb-2">
                            <a href="#" class="text-secondary display-xomd">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="#" class="text-secondary display-lg">
                                <i class="fa-brands fa-twitter" style="font-size: 26px;"></i>
                            </a>
                            <a href="#" class="text-secondary">
                                <svg id="instagram_1_" data-name="instagram (1)" xmlns="http://www.w3.org/2000/svg"
                                    width="22.474" height="22.476" viewBox="0 0 24.474 24.476">
                                    <path id="Path_45" data-name="Path 45"
                                        d="M17.849,0H6.623A6.632,6.632,0,0,0,0,6.625V17.851a6.632,6.632,0,0,0,6.625,6.625H17.849a6.632,6.632,0,0,0,6.625-6.625V6.625A6.632,6.632,0,0,0,17.848,0ZM12.236,18.93a6.692,6.692,0,1,1,6.692-6.692A6.692,6.692,0,0,1,12.236,18.93ZM19.088,7.124a1.978,1.978,0,1,1,1.978-1.978A1.978,1.978,0,0,1,19.088,7.124Zm0,0"
                                        fill="#00806e" />
                                    <path id="Path_46" data-name="Path 46"
                                        d="M151.278,146.02a5.259,5.259,0,1,0,5.259,5.259A5.259,5.259,0,0,0,151.278,146.02Zm0,0"
                                        transform="translate(-139.042 -139.04)" fill="#00806e" />
                                    <path id="Path_47" data-name="Path 47"
                                        d="M388.534,96.3a.542.542,0,1,0,.543.542A.542.542,0,0,0,388.534,96.3Zm0,0"
                                        transform="translate(-369.446 -91.697)" fill="#00806e" />
                                </svg>
                            </a>
                            <a href="#" class="text-secondary display-lg">
                                <i class="fa-brands fa-youtube d-block mt-1"></i>
                            </a>
                        </div>
                        <div class="d-flex gap-2">
                            <a href="#">
                                <img src="../../assets/img/appstore.png" width="130" alt="appstore">
                            </a>
                            <a href="#">
                                <img src="../../assets/img/playstore.png" width="130" alt="playstore">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center py-3 py-xxl-5 bg-secondary-dark bg-opacity-10">
            <div class="container">
                <p class="mb-0 bottom-footer-text">
                    All rights reserved to Jadeer ©

                    <script>
                        document.write(new Date().getFullYear())

                    </script>
                </p>
            </div>
        </div>
    </footer>

    <!-- Tourguide -->
    <div class="tourguide-wrap">
        <div class="tourguide-button-wrap position-relative">
            <button class="btn rounded-circle overflow-hidden tourguide-button shadow">
            </button>
            <img src="../../assets/img/human.png" class="whole-human" alt="human">
            <div
                class="tourguide-message pointer-event-none shadow bg-secondary px-5 py-2 text-white position-absolute">
                <!-- Text -->
                <div class="message-text" data-simplebar>
                    Hello, I am your personal assistant
                </div>
                <!-- Actions -->
                <div class="text-center tourguide-actions mt-1">
                    <div class=" btn-group btn-group-sm rounded-3">
                        <button class="btn close btn-danger" type="button">Close</button>
                        <button class="btn start btn-primary" type="button">Start</button>
                    </div>
                </div>

                <!-- Arrow -->
                <svg xmlns="http://www.w3.org/2000/svg" class="arrow-tourguide-message"
                    xmlns:xlink="http://www.w3.org/1999/xlink" width="52.953" height="51.642"
                    viewBox="0 0 52.953 51.642">
                    <defs>
                        <filter id="Path_84179" x="0" y="0" width="52.953" height="51.642" filterUnits="userSpaceOnUse">
                            <feOffset dy="3" input="SourceAlpha" />
                            <feGaussianBlur stdDeviation="3" result="blur" />
                            <feFlood flood-opacity="0.161" />
                            <feComposite operator="in" in2="blur" />
                            <feComposite in="SourceGraphic" />
                        </filter>
                    </defs>
                    <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Path_84179)">
                        <path id="Path_84179-2" data-name="Path 84179" d="M13.5,0,27,24H0Z"
                            transform="matrix(-0.89, 0.45, -0.45, -0.89, 43.95, 27.38)" fill="#00806e" />
                    </g>
                </svg>

            </div>
        </div>
    </div>

    <!-- How to benefit videos modals -->
    <!-- !! You will handle stop video in jquery app.js file at Home page section -->
    <!-- Modal -->
    <div class="modal fade bg-black bg-opacity-75" id="benefitmodalvid" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-fullscreen-lg-down p-6 p-lg-0">
            <div class="modal-content bg-transparent border-0 shadow-none">
                <div style="height: 430px;">
                    <button type="button" class="btn btn-light btn-sm py-0" data-bs-dismiss="modal">
                        <i class="fas fa-times"></i>
                    </button>
                    <div class="content h-100">
                        <!-- Body comes from js file , handle it there -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <!-- !Note: Bootstrap doesnt depend on jquery -->
    <script src="../../js/libs/bootstrap.bundle.min.js"></script>
    <script src="../../js/libs/jquery-3.5.1.min.js"></script>
    <script src="../../js/libs/aos.js"></script>
    <script src="../../js/libs/simplebar.js"></script>
    <script src="../../js/libs/owl.carousel.min.js"></script>
    <script src="../../js/app.js"></script>
</body>

</html>
