<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jadeer</title>
    <meta name="description" content="Jadeer" />
    <meta name="keywords" content="jadeer, جدير">
    <meta name="theme-color" content="#45a142">
    <!-- <link rel="shortcut icon" href="../favicon.png" type="image/x-icon"> -->
    <!-- Fontawsome links -->
    <link rel="stylesheet" href="../../css/libs/solid.css">
    <link rel="stylesheet" href="../../css/libs/brands.css">
    <link rel="stylesheet" href="../../css/libs/regular.css">
    <link rel="stylesheet" href="../../css/libs/fontawesome.css">
    <!-- Fontawsome links -->
    <link rel="stylesheet" href="../../css/libs/owl.carousel.css">
    <link rel="stylesheet" href="../../css/libs/bootstrap.rtl.css">
    <link rel="stylesheet" href="../../css/style.rtl.css">
</head>

<body>


    <!-- Content -->
    <div class="wrap-fullpage">
        <header id="main-header">
            <div class="container mb-3">
                <nav class="navbar navbar-expand-xl navbar-light bg-white border-bottom">
                    <!-- Navbar Buttons -->
                    <a href="index.html" class="navbar-brand">
                        <img src="../../assets/img/logo-sm.png" alt="jadeer logo main" width="130">
                    </a>
                    <button class="navbar-toggler py-2 bg-primary border-0 order-1" type="button"
                        data-bs-toggle="offcanvas" data-bs-target="#mainNavbar" aria-controls="mainNavbar"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars text-white"></i>
                    </button>

                    <!-- Languange and Currency settings -->
                    <div
                        class="localization-settings gap-2 ms-auto me-2 ms-xl-0 me-xl-0 order-xl-1 d-flex align-items-center">
                        <div class="dropdown order-xl-1">
                            <button class="btn dropdown-toggle pb-3" type="button" id="languageDropdown"
                                data-bs-toggle="dropdown">
                                <img src="../../assets/img/flags/ar.png" class="me-1" alt="arabic العربيةاللغة language"
                                    width="28">
                                عربي
                                <i class="fas fa-chevron-down ms-1 align-bottom"></i>
                            </button>

                            <ul class="dropdown-menu py-0 border-0 mt-1" aria-labelledby="languageDropdown">
                                <li>
                                    <span class="dropdown-item py-2 active">
                                        <img class="me-2 " width="28" src="../../assets/img/flags/ar.png"
                                            alt="english language">
                                        عربي
                                    </span>

                                </li>

                                <li>
                                    <a class="dropdown-item py-2" href="../en/index.html">
                                        <img class="me-2 " width="28" src="../../assets/img/flags/en.png"
                                            alt="arabic language">
                                        الانجليزية
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown order-xl-1">
                            <button class="btn dropdown-toggle" type="button" id="curruncyDropdown"
                                data-bs-toggle="dropdown">
                                <span class="align-middle">KSA</span>
                                <span class="align-middle">SAR - السعودية</span>
                                <i class="fas fa-chevron-down ms-1 align-text-bottom"></i>
                            </button>

                            <ul class="dropdown-menu w-100 py-0 border-0 mt-1">
                                <li>
                                    <a class="dropdown-item py-2" href="#">
                                        <span>KSA</span>
                                        <span>SAR - السعودية</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item py-2" href="#">
                                        <span>KSA</span>
                                        <span>SAR - السعودية</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Links List  -->
                    <div class="offcanvas shadow-none offcanvas-start  py-2" data-bs-scroll="true" id="mainNavbar">
                        <div class="offcanvas-header">
                            <img src="../../assets/img/logo-sm.png" alt="jadeer شعار جدير" width="130">
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">

                            <!-- Logo With Login Button -->
                            <div
                                class="features-list-buttons d-flex align-items-center justify-content-between flex-row-reverse flex-xl-row justify-content-xl-start mb-4 mb-xl-0 gap-3 gap-xxl-6 me-sm-3 ms-xl-auto order-1">
                                <div>
                                    <a href="login.html"
                                        class="btn btn-primary text-nowrap rounded-3 bg-btn-hover white-hover shadow px-5 py-3">تسجيل
                                        الدخول</a>
                                </div>
                                <span>
                                    <img src="../../assets/img/2030vision.png" width="130" alt="2030 رؤية">
                                </span>
                            </div>

                            <!-- Website Links -->

                            <ul class="navbar-nav mb-2 mb-lg-0 me-lg-1 me-xlg-3 align-items-xl-center">
                                <li class="nav-item">
                                    <a class="nav-link  px-2 px-lg-3 px-xxl-4 active" href="index.html">الرئيسية</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  px-2 px-lg-3 px-xxl-4" href="services.html">الخدمات</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  px-2 px-lg-3 px-xxl-4" href="about-us.html">من
                                        نحن</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-2 px-lg-3 px-xxl-4" href="contact-us.html">اتصل
                                        بنا</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="container position-relative">
                <img src="../../assets/img/rectengels-orange.png" class="rect-orange position-absolute"
                    alt="orange rectangle">
                <section class="zindex row gy-12 gy-lg-0 py-6">
                    <div class="col-lg-6 align-self-center">
                        <h1 class="main-header-title h4">
                            هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص
                            العربى حيث يمكنك أن تولد مثل هذا النص العديد من النصوص
                        </h1>

                        <p class="paragraph-with-line mt-5 text-light-secondary-dark lead">
                            هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص
                            العربى حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف
                            التى يولدها
                            إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد،
                            النص لن يبدو مقسما ولا يحوي أخطاء لغوية،
                        </p>
                    </div>

                    <div class="col-lg-6">
                        <img src="../../assets/img/header-home.png" class="img-fluid d-block mx-auto float-lg-end"
                            width="390" alt="home header jadeer جدير">
                    </div>
                </section>
            </div>

        </header>

        <div class="container pt-5 pb-10">
            <div class="start-consult-bannar overflow-hidden py-8 px-4 bg-primary position-relative">
                <div class="d-flex align-items-center flex-wrap gap-6 gap-ms-12 justify-content-center zindex">
                    <p class="text-white display-lg mb-0">ابدأ استشارتك معنا <a href="#"
                            class="text-white border-bottom" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="التحدث الحى مباشرة مع مستشارك">مرئية</a>
                        او مسموعة</p>
                    <a href="#"
                        class="btn btn-light shadow text-primary px-5 py-3 rounded-3 bg-btn-hover dark-hover">ابدا
                        استشارتك
                        الأن</a>
                </div>

                <img src="../../assets/img/plane.svg" alt="plane decore" width="60"
                    class="position-absolute top-50 translate-middle-y start-10">

                <img src="../../assets/img/dotted-star.svg" alt="circle decore"
                    class="position-absolute top-50 translate-middle end-50">
                <img src="../../assets/img/circle.svg" alt="circle decore"
                    class="position-absolute top-50 translate-middle-y end-5 d-none d-md-block">
            </div>
        </div>

        <div class="howto-benefit py-10">
            <div class="container position-relative">
                <div class="position-absolute top-0 start-0 w-100 bg-secondary py-10 px-5 howto-bigtext">
                    <img src="../../assets/img/CONSULTING.svg" class="user-select-none" draggable="false"
                        alt="Consulting استشارة">
                </div>

                <div class="position-relative zindex py-5">
                    <div class="howto-intro text-center">
                        <section>
                            <h2 class="text-white mb-3">كيف تستفيد من جدير.؟</h2>
                            <span class="title-line l1 bg-primary"></span>
                            <span class="title-line l2 bg-warning"></span>
                        </section>
                        <p class="mt-6  text-shadow text-white fw-bold">خطوات الحصول على الخدمة كمستفيد</p>
                    </div>

                    <div class="owl-carousel video-carousel mt-6 px-4">
                        <div class="video-item position-relative overflow-hidden rounded-3">
                            <img src="../../assets/img/video-img.png"
                                class="position-absolute w-100 h-100 img-cover top-0 start-0 item-thumbnail"
                                alt="vedio">
                            <div class="overflow-vide-actions position-absolute w-100 h-100 py-5 px-4">
                                <h4 class="text-white thumbnail-title">عنوان الفيديو</h4>
                                <span data-bs-toggle="modal" data-bs-target="#benefitmodalvid"
                                    class="bg-light px-5 py-3 d-block d-flex align-items-center justify-content-center align-self-center my-auto rounded-3 px-8">
                                    <i class="fas fa-play text-primary display-omd"></i>
                                </span>
                            </div>
                        </div>
                        <div class="video-item position-relative overflow-hidden rounded-3">
                            <img src="../../assets/img/video-img.png"
                                class="position-absolute w-100 h-100 img-cover top-0 start-0 item-thumbnail"
                                alt="vedio">
                            <div class="overflow-vide-actions position-absolute w-100 h-100 py-5 px-4">
                                <h4 class="text-white thumbnail-title">عنوان الفيديو</h4>
                                <span data-bs-toggle="modal" data-bs-target="#benefitmodalvid"
                                    class="bg-light px-5 py-3 d-block d-flex align-items-center justify-content-center align-self-center my-auto rounded-3 px-8">
                                    <i class="fas fa-play text-primary display-omd"></i>
                                </span>
                            </div>
                        </div>
                        <div class="video-item position-relative overflow-hidden rounded-3">
                            <img src="../../assets/img/video-img.png"
                                class="position-absolute w-100 h-100 img-cover top-0 start-0 item-thumbnail"
                                alt="vedio">
                            <div class="overflow-vide-actions position-absolute w-100 h-100 py-5 px-4">
                                <h4 class="text-white thumbnail-title">عنوان الفيديو</h4>
                                <span data-bs-toggle="modal" data-bs-target="#benefitmodalvid"
                                    class="bg-light px-5 py-3 d-block d-flex align-items-center justify-content-center align-self-center my-auto rounded-3 px-8">
                                    <i class="fas fa-play text-primary display-omd"></i>
                                </span>
                            </div>
                        </div>
                        <div class="video-item position-relative overflow-hidden rounded-3">
                            <img src="../../assets/img/video-img.png"
                                class="position-absolute w-100 h-100 img-cover top-0 start-0 item-thumbnail"
                                alt="vedio">
                            <div class="overflow-vide-actions position-absolute w-100 h-100 py-5 px-4">
                                <h4 class="text-white thumbnail-title">عنوان الفيديو</h4>
                                <span data-bs-toggle="modal" data-bs-target="#benefitmodalvid"
                                    class="bg-light px-5 py-3 d-block d-flex align-items-center justify-content-center align-self-center my-auto rounded-3 px-8">
                                    <i class="fas fa-play text-primary display-omd"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <section class="services-section container pb-10">
            <div class="position-relative mb-8">
                <h4 class="zindex">خدمات المنصة</h4>
                <img src="../../assets/img/rect-gray.svg" class="rect-gray position-absolute" alt="rectengel gray">
            </div>

            <div class="row  g-4">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#" class="d-block text-secondary-dark h-100">
                        <div class="card border-0 text-center service-card h-100">
                            <div class="card-body">
                                <img src="../../assets/img/services/law.svg" alt="استشارة">
                                <article>
                                    <h5 class="fw-normal my-4 service-title">استشارات قانونيية</h5>
                                    <p class="text-light-secondary-dark mb-0 service-desc">
                                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من
                                        مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص
                                    </p>
                                </article>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#" class="d-block text-secondary-dark h-100">
                        <div class="card border-0 text-center service-card h-100">
                            <div class="card-body">
                                <img src="../../assets/img/services/podcast.svg" alt="podcast">
                                <article>
                                    <h5 class="fw-normal my-4 service-title">جدير بودكاست</h5>
                                    <p class="text-light-secondary-dark mb-0 service-desc">
                                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من
                                        مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص
                                    </p>
                                </article>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#" class="d-block text-secondary-dark h-100">
                        <div class="card border-0 text-center service-card h-100">
                            <div class="card-body">
                                <img src="../../assets/img/services/friendship.svg" alt=" العمل التطوعي">
                                <article>
                                    <h5 class="fw-normal my-4 service-title">العمل التطوعي</h5>
                                    <p class="text-light-secondary-dark mb-0 service-desc">
                                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من
                                        مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص
                                    </p>
                                </article>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#" class="d-block text-secondary-dark h-100">
                        <div class="card border-0 text-center service-card h-100">
                            <div class="card-body">
                                <img src="../../assets/img/services/createreviews.svg" alt="عقود">
                                <article>
                                    <h5 class="fw-normal my-4 service-title">إنشاء العقود ومراجعاتها</h5>
                                    <p class="text-light-secondary-dark mb-0 service-desc">
                                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من
                                        مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص
                                    </p>
                                </article>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#" class="d-block text-secondary-dark h-100">
                        <div class="card border-0 text-center service-card h-100">
                            <div class="card-body">
                                <img src="../../assets/img/services/economic.svg" alt="استشارة">
                                <article>
                                    <h5 class="fw-normal my-4 service-title">أكادميية جدير القانونية</h5>
                                    <p class="text-light-secondary-dark mb-0 service-desc">
                                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من
                                        مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص
                                    </p>
                                </article>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#" class="d-block text-secondary-dark h-100">
                        <div class="card border-0 text-center service-card h-100">
                            <div class="card-body">
                                <img src="../../assets/img/services/lawroles.svg" alt="استشارة">
                                <article>
                                    <h5 class="fw-normal my-4 service-title">الدورات القانونية</h5>
                                    <p class="text-light-secondary-dark mb-0 service-desc">
                                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من
                                        مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص
                                    </p>
                                </article>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#" class="d-block text-secondary-dark h-100">
                        <div class="card border-0 text-center service-card h-100">
                            <div class="card-body">
                                <img src="../../assets/img/services/ideas.svg" alt="استشارة">
                                <article>
                                    <h5 class="fw-normal my-4 service-title">تقديم المشاريع والمقترحات</h5>
                                    <p class="text-light-secondary-dark mb-0 service-desc">
                                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من
                                        مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص
                                    </p>
                                </article>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#" class="d-block text-secondary-dark h-100">
                        <div class="card border-0 text-center service-card h-100">
                            <div class="card-body">
                                <img src="../../assets/img/services/references.svg" alt="استشارة">
                                <article>
                                    <h5 class="fw-normal my-4 service-title">الانظمة والمراجع</h5>
                                    <p class="text-light-secondary-dark mb-0 service-desc">
                                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من
                                        مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص
                                    </p>
                                </article>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#" class="d-block text-secondary-dark h-100">
                        <div class="card border-0 text-center service-card h-100">
                            <div class="card-body">
                                <img src="../../assets/img/services/search.svg" alt="استشارة">
                                <article>
                                    <h5 class="fw-normal my-4 service-title"> البحوث والرسائل</h5>
                                    <p class="text-light-secondary-dark mb-0 service-desc">
                                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من
                                        مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص
                                    </p>
                                </article>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#" class="d-block text-secondary-dark h-100">
                        <div class="card border-0 text-center service-card h-100">
                            <div class="card-body">
                                <img src="../../assets/img/services/otherservices.svg" alt="استشارة">
                                <article>
                                    <h5 class="fw-normal my-4 service-title">منصات جدير الاخرى</h5>
                                    <p class="text-light-secondary-dark mb-0 service-desc">
                                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من
                                        مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص
                                    </p>
                                </article>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </section>

    </div>


    <footer>
        <div class="bg-paper py-6">
            <div class="container">
                <div class=" row gx-0 gy-10 gx-sm-10 g-md-5 ">
                    <div class="col-md-6 col-lg">
                        <a href="index.html">
                            <img src="../../assets/img/logo-lg.png" width="300" class="img-fluid"
                                alt="jadeer logo شعار جدير">
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-5">
                        <div class="row g-3">
                            <div class="col-sm-auto">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="index.html" class="text-secondary-dark nav-link maplink">الرئيسية</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="about-us.html" class="nav-link text-secondary-dark maplink">من نحن</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="services.html" class="nav-link text-secondary-dark maplink">الخدمات</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-auto">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="usage-rules.html" class="nav-link text-secondary-dark maplink">سياسة
                                            الاستخدام</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="who-benefit.html" class="nav-link text-secondary-dark maplink">من هم
                                            المستفيدون</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="servicers.html" class="nav-link text-secondary-dark maplink">من هم
                                            مقدمو
                                            الخدمة</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-auto">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="contact-us.html" class="nav-link text-secondary-dark maplink">اتصل
                                            بنا</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="manage-jadeer.html" class="nav-link text-secondary-dark maplink">إدارة
                                            جدير</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="markting.html" class="nav-link text-secondary-dark maplink">التسويق</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg">
                        <div class="d-flex gap-2 align-items-center mb-3">
                            <i class="fas fa-location-dot text-secondary display-omd"></i>
                            <span class="text-light-secondary-dark info-text">السعودية , مكة , شارع احمد على</span>
                        </div>
                        <a href="tel:01093244532" class="d-flex gap-2 align-items-center mb-3">
                            <i class="fas fa-phone text-secondary "></i>
                            <span class="text-light-secondary-dark info-text">0111215121585 - 012248952514</span>
                        </a>
                        <div class="d-flex gap-3 align-items-center mb-3">
                            <a href="#" class="text-secondary display-xomd">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="#" class="text-secondary display-lg">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="#" class="text-secondary">
                                <svg id="instagram_1_" data-name="instagram (1)" xmlns="http://www.w3.org/2000/svg"
                                    width="24.474" height="24.476" viewBox="0 0 24.474 24.476">
                                    <path id="Path_45" data-name="Path 45"
                                        d="M17.849,0H6.623A6.632,6.632,0,0,0,0,6.625V17.851a6.632,6.632,0,0,0,6.625,6.625H17.849a6.632,6.632,0,0,0,6.625-6.625V6.625A6.632,6.632,0,0,0,17.848,0ZM12.236,18.93a6.692,6.692,0,1,1,6.692-6.692A6.692,6.692,0,0,1,12.236,18.93ZM19.088,7.124a1.978,1.978,0,1,1,1.978-1.978A1.978,1.978,0,0,1,19.088,7.124Zm0,0"
                                        fill="#00806e" />
                                    <path id="Path_46" data-name="Path 46"
                                        d="M151.278,146.02a5.259,5.259,0,1,0,5.259,5.259A5.259,5.259,0,0,0,151.278,146.02Zm0,0"
                                        transform="translate(-139.042 -139.04)" fill="#00806e" />
                                    <path id="Path_47" data-name="Path 47"
                                        d="M388.534,96.3a.542.542,0,1,0,.543.542A.542.542,0,0,0,388.534,96.3Zm0,0"
                                        transform="translate(-369.446 -91.697)" fill="#00806e" />
                                </svg>
                            </a>
                            <a href="#" class="text-secondary display-lg">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </div>
                        <div class="d-flex gap-6">
                            <a href="#">
                                <img src="../../assets/img/appstore.png" alt="appstore">
                            </a>
                            <a href="#">
                                <img src="../../assets/img/playstore.png" alt="playstore">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center py-3 bg-secondary-dark bg-opacity-10">
            <div class="container">
                <p class="mb-0">
                    جميع الحقوق محفوظة لمنصة جدير &copy; <script>
                        document.write(new Date().getFullYear())

                    </script>
                </p>
            </div>
        </div>
    </footer>



    <!-- How to benefit videos modals -->
    <!-- !! You will handle stop video in jquery app.js file at Home page section -->
    <!-- Modal -->
    <div class="modal fade" id="benefitmodalvid" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-fullscreen-lg-down p-6 p-lg-0">
            <div class="modal-content bg-transparent border-0 shadow-none">
                <div style="height: 430px;">
                    <button type="button" class="btn btn-light btn-sm py-0" data-bs-dismiss="modal"><i
                            class="fas fa-times"></i></button>
                    <!-- <iframe width="100%" height="100%" src="http://www.youtube.com/embed/dP15zlyra3c?html5=1"></iframe> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <!-- !Note: Bootstrap doesnt depend on jquery -->
    <script src="../../js/libs/bootstrap.bundle.min.js"></script>
    <script src="../../js/libs/jquery-3.5.1.min.js"></script>
    <script src="../../js/libs/owl.carousel.min.js"></script>
    <script src="../../js/app.js"></script>
</body>

</html>
